@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --dark-grey: rgb(48, 48, 48);
    --grey: rgba(0, 0, 0, 0.5);
    --light-grey: rgb(190, 190, 190);
    --very-light-grey: rgba(255, 255, 255, 0.75);

    --transition: 0.3s all linear;
    --border-radius: 5rem;
    --max-width: 1120px;
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    color: var(--white);
}

img {
    width: 100%;
    display: block;
}

/*==============*/
/*= Main
/*==============*/
.background {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/mobile/bg-image-daytime.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .background {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/tablet/bg-image-daytime.jpg");
    }
}

@media screen and (min-width: 992px) {
    .background {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/desktop/bg-image-daytime.jpg");
    }
}

.wrapper {
    width: 100%;
    transition: var(--transition)
}

.transform {
    transition: var(--transition);
    transform: translateY(-30vh);
}

@media screen and (min-width: 768px) {
    .transform {
        transform: translateY(-45vh);
    }
}

@media screen and (min-width: 992px) {
    .transform {
        transform: translateY(-40vh);
    }
}

/*==============*/
/*= Advice
/*==============*/
.advice {
    height: 30vh;
    max-width: var(--max-width);
    padding: 0 2rem;
    margin: 0 auto;
    transition: var(--transition);
}

.advice-container {
    padding-top: 4rem;
    width: 90%;
    max-width: 560px;
    position: relative;
}

.advice-text {
    font-size: 1.4rem;
    line-height: 2;
    margin-bottom: 1.5rem;
}

.advice-author {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.refresh-btn {
    position: absolute;
    top: 4rem;
    right: -1rem;
    transform: translateX(100%);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    color: var(--very-light-grey);
    font-size: 2.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.refresh-btn:hover {
    color: var(--white);
}

@media screen and (min-width: 768px) {
    .advice {
        padding: 0;
        height: 45vh;
    }

    .advice-container {
        padding-top: 6rem;
        padding-left: 6rem;
    }

    .advice-text {
        font-size: 1.8rem;
    }

    .advice-author {
        font-size: 1.8rem;
    }

    .refresh-btn {
        top: 7rem;
    }
}

@media screen and (min-width: 992px) {
    .advice {
        height: 40vh;
    }

    .advice-container {
        padding-top: 4rem;
    }

    .refresh-btn {
        top: 5rem;
    }
}

/*==============*/
/*= Hero
/*==============*/
.hero {
    min-height: 70vh;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: var(--max-width);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.heading-container {
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    gap: 0 4rem;
}

.heading-img {
    width: 2.5rem;
    height: 2.5rem;
}

.greeting {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.time {
    font-size: 10rem;
    margin-bottom: 2rem;
}

.time span {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.location {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 4rem;
}

.btn-container-text {
    color: var(--dark-grey);
}

.btn-container {
    height: 4rem;
    width: 12rem;
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding-left: 2rem;
    padding-right: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container-text {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--grey);
}

.more-btn {
    border: none;
    background-color: var(--dark-grey);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    transition: var(--transition);
    font-size: 2rem;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.more-btn:hover {
    background-color: var(--grey);
}

.up {
    transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
    .hero {
        min-height: 55vh;
        padding-bottom: 6rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .time {
        font-size: 17.5rem;
    }

    .time span {
        font-size: 1.8rem;
    }

    .location {
        font-size: 1.8rem;
    }

    .btn-container {
        height: 5.5rem;
        width: 15rem;
        padding-right: 1rem;
    }

    .btn-container-text {
        font-size: 1.6rem;
    }

    .more-btn {
        width: 4rem;
        height: 4rem;
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .hero {
        min-height: 60vh;
        padding-bottom: 8rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .time {
        font-size: 20rem;
    }

    .time span {
        font-size: 2.4rem;
    }

    .location {
        font-size: 2.4rem;
        margin-bottom: 0;
    }

    .hero-container {
        padding-bottom: 0;
    }
}

/*==============*/
/*= More Info
/*==============*/
.more-info {
    height: 30vh;
    background-color: var(--light-grey);
    color: var(--dark-grey);

    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-container {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    padding: 4rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.info-heading {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.info-text {
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    .more-info {
        height: 45vh;
    }

    .more-info-container {
        padding: 10rem 6rem;

        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 3rem 5rem;
    }

    .info {
        display: block;
    }

    .day {
        order: 1;
    }

    .year {
        order: 2;
    }

    .week {
        order: 3;
    }

    .info-heading {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .info-text {
        font-size: 4rem;
    }
}

@media screen and (min-width: 992px) {
    .more-info-container {
        padding: 8rem 6rem;
        gap: 4rem 5rem;
    }

    .more-info {
        height: 40vh;
    }

    .info-heading {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .info-text {
        font-size: 5.6rem;
    }
}



